.logo img{
    width: 100%
}

main{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    box-shadow: 0 0 20px #000000;
    padding: 30px;
    text-align: justify;
}

.right{
    text-align: right;
}

/* @media (max-width: 1000px){
        padding: 5px;
    }
} */

a {
    color: #1b54ac;
    cursor: pointer;
    text-decoration: none;
}

a:hover,
a:active {
    text-decoration: underline;
}


