.logo img{
    width: 100%
}

main{
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: sans-serif;
}

.wrapper{
    width: 100%;
    max-width: 950px;
    margin: auto;
    box-shadow: 0 0 20px #1b54ac;
    padding: 30px;
}

@media (max-width: 1000px){
    main{
        margin: 0;
    }
    .wrapper{
        padding:5px;
    }
}
