<!DOCTYPE html>
<html>{{readFile "joinus.txt" | safeHTML}}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ block "title" . }}
      {{ .Site.Title }}
    {{ end }}</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We">
    <link href='/css/main.css' rel='stylesheet' type='text/css'/>
  </head>
  <body>
    <br>
    <main class="main" role="main">
      <div class="wrapper">
        <a class="logo" href="/" alt="StuStaNet">
            <img src="/StuStaNet_Logo.png" alt="banner"/>
        </a>
        {{ block "main" . }}{{ end }}
      </div>
   
    </main>

      <br>
      <footer class="footer mt-auto py-3 bg-dark">
  <div class="container">
      <div class="row align-items-center">
    <div class="col text-center text-muted">
      <a class="text-muted" href="https://stustanet.de" target="_blank">&copy; 2021 StuStaNet e. V.</a>
    </div>
    <div class="col text-center text-muted">
      <a class="text-muted" href="/history">Alte Bekanntmachungen</a>
    </div>
    <div class="col text-center text-muted">
      <a class="text-muted" href="/satzung.pdf">Satzung</a>
    </div>
    <div class="col text-center text-muted">
      <a class="text-muted" href="/nutzerordnung.pdf">Nutzerordnung de</a> / <a class="text-muted" href="nutzerordnung_en.pdf">en</a>
  </div>
    <div class="col text-center text-muted">
      <a class="text-muted" href="https://stustanet.de/de/impressum/">Impressum</a>
    </div>
  </div>
</footer> 
  </body>

</html>
