{{define "main"}}

<h3>index.html</h3>
<article>
    {{.Content}}
</article>

{{ $mainSections := .Site.Params.mainSections | default (slice "post") }}
{{ $section := where .Site.RegularPages "Section" "in" $mainSections }}

    
    <section class="w-100 mw8">
        {{ range where .Site.RegularPages "Section" .Section }}
        <h3>posts here:</h3>
            {{ partial "inpage-post.html" . }}
        {{ end }}
    </section>


    <section class="w-100 mw8">
        {{ range $section }}
          <h3>posts here:</h3>
          <div class="relative w-100 mb4">
            {{ partial "inpage-post.html" . }}
          </div>
        {{ end }}
      </section>

{{end}}
